[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appnope = "==0.1.0"
asgiref = "==3.2.3"
astroid = "==2.3.3"
backcall = "==0.1.0"
certifi = "==2019.9.11"
chardet = "==3.0.4"
decorator = "==4.4.1"
defusedxml = "==0.6.0"
dj-database-url = "==0.5.0"
django-allauth = "==0.42.0"
django-extensions = "==2.2.8"
django-on-heroku = "==1.0.1"
gunicorn = "==20.0.4"
idna = "==2.10"
ipython = "==7.9.0"
isort = "==4.3.21"
jedi = "==0.15.1"
lazy-object-proxy = "==1.4.3"
mccabe = "==0.6.1"
oauthlib = "==3.1.0"
parso = "==0.5.1"
pexpect = "==4.7.0"
pickleshare = "==0.7.5"
pipenv = "==2018.11.26"
prompt-toolkit = "==2.0.10"
psycopg2-binary = "==2.8.4"
ptyprocess = "==0.6.0"
pylint = "==2.4.4"
python3-openid = "==3.2.0"
pytz = "==2019.3"
requests = "==2.24.0"
requests-oauthlib = "==1.3.0"
six = "==1.13.0"
sqlparse = "==0.3.0"
traitlets = "==4.3.3"
urllib3 = "==1.25.10"
virtualenv = "==16.7.7"
virtualenv-clone = "==0.5.3"
wcwidth = "==0.1.7"
whitenoise = "==5.2.0"
wrapt = "==1.11.2"
Django = "==3.0.3"
ipython_genutils = "==0.2.0"
Pillow = "==7.2.0"
Pygments = "==2.4.2"
djangorestframework = "*"
django-rest-knox = "*"

[requires]
python_version = "3.8"
